<ng-container *ngIf="exercises | async as exercisesData; else elseTemplate">
  <ng-container *ngIf="exercisesData.length > 0; else elseTemplate">
    <mat-accordion class="space-between-header-desc-items">
      <ng-container *ngFor="let exercise of exercisesData; index as i; trackBy: exerciseTrackingFn">
        <mat-expansion-panel [expanded]="stepIndex == i" (opened)="setStep(i)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{exercise.name}}
              <button class="ms-2" mat-icon-button color="primary" (click)="editExercise(exercise)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-panel-title>
            <mat-panel-description>
              <ng-container *ngIf="exercise.description; else defaultDescription">
                {{exercise.description}}
              </ng-container>
              <ng-template #defaultDescription>
                No description found!
              </ng-template>
              <ng-container *ngIf="exercise.disabled; else exerciseEnabledTemplate">
                <span class="fw-lighter align-icon-and-text-vertically">Disabled <mat-icon>visibility_off</mat-icon></span>
              </ng-container>
              <ng-template #exerciseEnabledTemplate>
                <span class="fw-medium align-icon-and-text-vertically">Enabled <mat-icon>visibility</mat-icon></span>
              </ng-template>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="sToMDT(exercise.miscDataType) == extraDataType.IMAGE">
            <div class="normal-content">
              <img [src]="getSanitizedUrl(exercise.miscData)" alt="Welp. I guess image didn't render" width="480px">
            </div>
          </ng-container>
          <ng-container *ngIf="sToMDT(exercise.miscDataType) == extraDataType.VIDEO">
            <div class="normal-content">
              <video height="auto" width="480px" autoplay loop controls>
                <source [src]="getSanitizedUrl(exercise.miscData)" type="video/mp4">
                Your browser doesn't support this video format.
              </video>
            </div>
          </ng-container>
          <ng-container *ngIf="sToMDT(exercise.miscDataType) == extraDataType.EMBEDDED">
            <div class="normal-content">
              <div [innerHTML]="getSanitizedHtml(exercise.miscData)" class="container">
              </div>
            </div>
          </ng-container>
          <mat-action-row *ngIf="exercisesData.length > 1">
            <button *ngIf="stepIndex > 0" mat-button color="warn" (click)="prevStep()">Previous</button>
            <button *ngIf="stepIndex < (exercisesData.length-1)" mat-button color="primary"
              (click)="nextStep()">Next</button>
            <button *ngIf="stepIndex == (exercisesData.length-1)" mat-button color="primary"
              (click)="setStep(-1)">End</button>
          </mat-action-row>
          <mat-action-row *ngIf="exercisesData.length == 1">
            <button mat-button color="primary" (click)="setStep(-1)">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>

    </mat-accordion>
  </ng-container>
  <ng-template #elseTemplate>
    <h2>No exercises found</h2>
  </ng-template>
</ng-container>
<ng-template #elseTemplate>
  <h2>No exercises found</h2>
</ng-template>
